* {
    box-sizing: border-box;
}

body {
  background-color: white;
  font-family: "Space Mono", monospace;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
}

/* LOG-IN PAGE */
.log-in-container {
    display: flex;  
    justify-content: center;  
    align-items: center; 
}

.login-form {
    margin: 100px 10px 10px 10px;
    padding: 50px 70px;
    width: 40%;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    border-radius: 12px;
}

.login-form-logo {
    max-width:250px;
    margin-bottom: 40px;
    
}
.login-form-container {
    text-align: center;
}
/* Smaller devices */
@media screen and (max-width: 768px) {
    .login-form {
        margin: 50px 0px 10px 0px;
        padding: 20px;
        width: 90%;
        box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
        border-radius: 8px;
    }

    .login-form-logo {
        width:170px;
        margin-bottom: 40px; 
    }
    .login-form-container {
        text-align: center;
    }
  }

/* SIGN-UP PAGE*/

.sign-up-container {
    display: flex;  
    justify-content: center;  
    align-items: center; 
}

.sign-up-form {
    margin: 100px 10px 10px 10px;
    padding: 50px 70px;
    width: 40%;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    border-radius: 8px;
}
.sign-up-form-logo {
    max-width:250px;
    margin-bottom: 40px;
}

.sign-up-form-container {
    text-align: center;
}
/* Smaller devices */
@media screen and (max-width: 768px) {
    .sign-up-form {
        margin: 50px 0px 10px 0px;
        padding: 20px;
        width: 90%;
        box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
        border-radius: 8px;
    }
    .sign-up-form-logo {
        width:170px;
        margin-bottom: 40px; 
    }
    .sign-up-form-container {
        text-align: center;
    }
  }



  /* Home Page */
  .home-container {
    position: relative;
    text-align: center;
    color: white;
    background-blend-mode: overlay;
  }

  .overlay {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  .carousel-container {
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    border-radius: 12px;
  }

  .carousel-image {
    object-fit: cover;
    height: 100vh;
    /* opacity: .9; */
  }

  .header-title {
    font-size: 90px;
    font-weight:600;
    font-family: "Space Mono", monospace;
    color: #EEEDED !important;
  }

  @media screen and (max-width: 425px) {
    .header-title {
      font-size: 60px;
    }

    .description {
      font-size: 5rem;
    }
    }
  

  .home-btn-1{
    max-width: 150px;
    
  }

  .home-btn-2{
    max-width: 150px;
    margin-left: 20px;
  }
 
  .nav-logo {
    border-radius: 50%;
  }

  .description {
    color: white;
    font-weight: 900;
    font-size: 20px;
  }

  #toTopBtn {
   color: #EEEDED;
   position: fixed;
   bottom: 26px;
   right: 39px;
   z-index: 98;
   padding: 21px;
   background-color: hsla(5,76%,62%,.8);
   
}


  /* ABOUT US */
  
  .about-us-header {
    text-align: center;
    margin: 100px 0px 40px 0px;
    font-weight: bold;
    font-size: 50px;
  }

  .about-us-description {
    text-align: center;
    max-width: 600px;
  }
  .about-us-background{
    background-color: #DDE6ED;
  }

  .about-us-image{
    object-fit: cover;
    max-width: 500px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    border-radius: 12px;
  }

  @media screen and (max-width: 425px) {
  .about-us-image{
    max-width: 300px !important;
    }
  .content-padding{
    padding: 0px 30px !important;
  }

  }
  @media screen and (max-width: 768px) {
    .about-us-image{
      max-width: 400px;
    }
    .content-padding{
      padding: 0px 20px;
    }

  }
  .content-center {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .content-padding{
    padding: 0px 90px;
  }


  /* CONTACT US */

  .contact-us-container{
    background-color: #393E46;
    color: white;
  }

  .form-contact-us-container{
   padding: 80px;
    
  }

  .details-container{
    padding: 80px;
  }

  .contact-form-container {
    max-width: 700px;
    padding: 50px;
   
  }

  .details-container-box{
    background-color: white;
    color: #393E46;
    border-radius: 12px;
    max-height: 500px;
    padding: 100px 50px;
    margin-top: 50px;
    max-width: 700px;
  }

  @media screen and (max-width: 425px) {
    .details-container-box{
      padding: 30px 10px;
      max-width: 320px;
    }
    .contact-form-container{
      padding: 0px;
    }
    .contact-header{
      font-size: 25px !important;
    }
    .contact-paragraph{
      font-size: 20px !important;
      text-align: center;
    }

    .contact-detail-header {
      font-size: 15px;
    }

    .contact-details{
      font-size: 12px;
    }
  }
  .contact-logo{
    width: 30px;
  }

  .contact-header {
    font-size: 45px;
    text-align: center;
  }

  .contact-paragraph {
    font-weight: lighter;
    font-size:30px;
    margin-bottom: 50px;
  }



  /* SITEMAP*/

  .sitemap-container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  .sitemap-header {
    font-size: 35px;
    font-weight: 500;
  }

  .sitemap-list{
    list-style: none;
    padding: 0px;
    margin: 20px 0px;
    text-align: center;
  }

  @media screen and (max-width: 425px) {
    .sitemap-header {
      font-size: 25px;
    }
    .sitemap-list{
      font-size: 12px;
    }
  }

  .sitemap-about-us-page-background {
    background-color: #9DB2BF;
  }

  .mail-logo{
    width: 30px;
  }

  .mail-text{
    text-decoration: none;
    color: black;
  }

  /* VENUES */
  .venue-header{
    font-size: 45px;
    text-align: center;
    padding-top: 50px;
  }
  @media screen and (max-width: 425px) {
    .venue-header {
      text-align: center;
      padding: 50px 0px 0px;
      font-size: 35px;
    }
  }
  .card-container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 50px 0px;
  }

  .venue-container {
    margin: 20px;
  }

  .card-style{
    border-radius: 12px;
  }

  /* VENUE SCHEDULE */
  .venue-flex{
    display: flex;
    align-items: center;
    justify-content: center;
  }

  @media screen and (max-width: 520px) {
    .venue-flex{
      display: block;
      align-items: center;
      justify-content: center;
    }
    .venue-container{
      max-width: 100% !important;
    }
  
  } 

  .venue-container{
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    border-radius: 12px;
    max-width: 40%;
  }


  .schedule-card {
    margin: auto;
    margin-bottom: 20px;
    max-width: 60%;
  }

  .schedule-header{
    font-size: 45px;
    text-align: center;
    padding: 50px 0;
  }
  @media screen and (max-width: 520px) {
    .schedule-header {
      text-align: center;
      padding: 50px 0px 30px;
      font-size: 35px;
    }
  }

  /* RESERVATIONS */

  .reservation-form-container{
    max-width: 50%;
    margin: auto;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    border-radius: 8px;
  }

  @media screen and (max-width: 520px) {
    .reservation-form-container{
      max-width: 70%;
    }
  }

  .sitemap-reservations-page-background {
    background-color: #9DB2BF;
  }

    /* UPCOMING EVENTS */

  .upcoming-events-logo {
    max-width: 50px;
    margin-right: 20px;
  }

  .event-schedule-area .section-title .title-text {
    margin-bottom: 50px;
  }

  .event-schedule-area .tab-area .nav-tabs {
    border-bottom: inherit;
  }

  .event-schedule-area .tab-area .nav {
    border-bottom: inherit;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-top: 80px;
  }

  .event-schedule-area .tab-area .nav-item {
    margin-bottom: 75px;
  }
  .event-schedule-area .tab-area .nav-item .nav-link {
    text-align: center;
    font-size: 22px;
    color: #333;
    font-weight: 600;
    border-radius: inherit;
    border: inherit;
    padding: 0px;
    text-transform: capitalize !important;
  }
  .event-schedule-area .tab-area .nav-item .nav-link.active {
    color: #4125dd;
    background-color: transparent;
  }

  .event-schedule-area .tab-area .tab-content .table {
    margin-bottom: 0;
    width: 80%;
  }
  .event-schedule-area .tab-area .tab-content .table thead td,
  .event-schedule-area .tab-area .tab-content .table thead th {
    border-bottom-width: 1px;
    font-size: 20px;
    font-weight: 600;
    color: #252525;
  }
  .event-schedule-area .tab-area .tab-content .table td,
  .event-schedule-area .tab-area .tab-content .table th {
    border: 1px solid #b7b7b7;
    padding-left: 30px;
  }
  .event-schedule-area .tab-area .tab-content .table tbody th .heading,
  .event-schedule-area .tab-area .tab-content .table tbody td .heading {
    font-size: 16px;
    text-transform: capitalize;
    margin-bottom: 16px;
    font-weight: 500;
    color: #252525;
    margin-bottom: 6px;
  }
  .event-schedule-area .tab-area .tab-content .table tbody th span,
  .event-schedule-area .tab-area .tab-content .table tbody td span {
    color: #4125dd;
    font-size: 18px;
    text-transform: uppercase;
    margin-bottom: 6px;
    display: block;
  }
  .event-schedule-area .tab-area .tab-content .table tbody th span.date,
  .event-schedule-area .tab-area .tab-content .table tbody td span.date {
    color: #656565;
    font-size: 14px;
    font-weight: 500;
    margin-top: 15px;
  }
  .event-schedule-area .tab-area .tab-content .table tbody th p {
    font-size: 14px;
    margin: 0;
    font-weight: normal;
  }

  .event-schedule-area-two .section-title .title-text h2 {
    margin: 0px 0 15px;
  }

  .event-schedule-area-two ul.custom-tab {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    border-bottom: 1px solid #dee2e6;
    margin-bottom: 30px;
  }
  .event-schedule-area-two ul.custom-tab li {
    margin-right: 70px;
    position: relative;
  }
  .event-schedule-area-two ul.custom-tab li a {
    color: #252525;
    font-size: 25px;
    line-height: 25px;
    font-weight: 600;
    text-transform: capitalize;
    padding: 35px 0;
    position: relative;
  }
  .event-schedule-area-two ul.custom-tab li a:hover:before {
    width: 100%;
  }
  .event-schedule-area-two ul.custom-tab li a:before {
    position: absolute;
    left: 0;
    bottom: 0;
    content: "";
    background: #4125dd;
    width: 0;
    height: 2px;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
  }
  .event-schedule-area-two ul.custom-tab li a.active {
    color: #4125dd;
  }

  .event-schedule-area-two .primary-btn {
    margin-top: 40px;
  }

  .event-schedule-area-two .tab-content .table {
    -webkit-box-shadow: 0 1px 30px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 30px rgba(0, 0, 0, 0.1);
    margin-bottom: 0;
  }
  .event-schedule-area-two .tab-content .table thead {
    background-color: #007bff;
    color: #fff;
    font-size: 20px;
  }
  .event-schedule-area-two .tab-content .table thead tr th {
    padding: 20px;
    border: 0;
  }
  .event-schedule-area-two .tab-content .table tbody {
    background: #fff;
  }
  .event-schedule-area-two .tab-content .table tbody tr.inner-box {
    border-bottom: 1px solid #dee2e6;
  }
  .event-schedule-area-two .tab-content .table tbody tr th {
    border: 0;
    padding: 30px 20px;
    vertical-align: middle;
  }
  .event-schedule-area-two .tab-content .table tbody tr th .event-date {
    color: #252525;
    text-align: center;
  }
  .event-schedule-area-two .tab-content .table tbody tr th .event-date span {
    font-size: 50px;
    line-height: 50px;
    font-weight: normal;
  }
  .event-schedule-area-two .tab-content .table tbody tr td {
    padding: 30px 20px;
    vertical-align: middle;
  }
  .event-schedule-area-two .tab-content .table tbody tr td .r-no span {
    color: #252525;
  }
  .event-schedule-area-two .tab-content .table tbody tr td .event-wrap h3 a {
    font-size: 20px;
    line-height: 20px;
    color: #cf057c;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
  }
  .event-schedule-area-two .tab-content .table tbody tr td .event-wrap h3 a:hover {
    color: #4125dd;
  }
  .event-schedule-area-two .tab-content .table tbody tr td .event-wrap .categories {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    margin: 10px 0;
  }
  .event-schedule-area-two .tab-content .table tbody tr td .event-wrap .categories a {
    color: #252525;
    font-size: 16px;
    margin-left: 10px;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
  }
  .event-schedule-area-two .tab-content .table tbody tr td .event-wrap .categories a:before {
    content: "\f07b";
    font-family: fontawesome;
    padding-right: 5px;
  }
  .event-schedule-area-two .tab-content .table tbody tr td .event-wrap .time span {
    color: #252525;
  }
  .event-schedule-area-two .tab-content .table tbody tr td .event-wrap .organizers {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    margin: 10px 0;
  }
  .event-schedule-area-two .tab-content .table tbody tr td .event-wrap .organizers a {
    color: #4125dd;
    font-size: 16px;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
  }
  .event-schedule-area-two .tab-content .table tbody tr td .event-wrap .organizers a:hover {
    color: #4125dd;
  }
  .event-schedule-area-two .tab-content .table tbody tr td .event-wrap .organizers a:before {
    content: "\f007";
    font-family: fontawesome;
    padding-right: 5px;
  }
  .event-schedule-area-two .tab-content .table tbody tr td .primary-btn {
    margin-top: 0;
    text-align: center;
  }
  .event-schedule-area-two .tab-content .table tbody tr td .event-img img {
    width: 100px;
    height: 100px;
    border-radius: 8px;
  }




  /* EVENT LIST (ADD/REMOVE/EDIT EVENTS) */

  table {
    border-collapse: collapse;
    width: 80%;
    /* font-size: 1vh !important; */
  }
  @media screen and (max-width: 768px) {
    .table-container{
      width: 100% !important;
    }
    .venue-list-container{
      width: 100% !important;
      margin: 0;
    }
  }


  td, th {
    text-align: center;
    padding: 10px 0px;
  }

  td {
    border-bottom: solid black;
  }

  .venue-list-logo {
    max-width: 40px;
    margin-right: 20px;
  }

  .venue-list-container{

    width: 60%;
    margin: auto;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    border-radius: 12px;
  }






