* {
    box-sizing: border-box;
}

body {
  background-color: #F6F4EB;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
}

/* LOG-IN PAGE */
.log-in-container {
    display: flex;  
    justify-content: center;  
    align-items: center; 
}

.login-form {
    margin: 100px 10px 10px 10px;
    padding: 50px 70px;
    width: 40%;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    border-radius: 12px;
}

.login-form-logo {
    max-width:250px;
    margin-bottom: 40px;
    
}
.login-form-container {
    text-align: center;
}
/* Smaller devices */
@media screen and (max-width: 768px) {
    .login-form {
        margin: 50px 0px 10px 0px;
        padding: 20px;
        width: 90%;
        box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
        border-radius: 8px;
    }

    .login-form-logo {
        width:170px;
        margin-bottom: 40px; 
    }
    .login-form-container {
        text-align: center;
    }
  }

/* SIGN-UP PAGE*/

.sign-up-container {
    display: flex;  
    justify-content: center;  
    align-items: center; 
}

.sign-up-form {
    margin: 100px 10px 10px 10px;
    padding: 50px 70px;
    width: 40%;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    border-radius: 8px;
}
.sign-up-form-logo {
    max-width:250px;
    margin-bottom: 40px;
}

.sign-up-form-container {
    text-align: center;
}
/* Smaller devices */
@media screen and (max-width: 768px) {
    .sign-up-form {
        margin: 50px 0px 10px 0px;
        padding: 20px;
        width: 90%;
        box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
        border-radius: 8px;
    }
    .sign-up-form-logo {
        width:170px;
        margin-bottom: 40px; 
    }
    .sign-up-form-container {
        text-align: center;
    }
  }



  /* Home Page */
  .home-container {
    position: relative;
    text-align: center;
    color: white;
    background-blend-mode: overlay;
  }

  .overlay {
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  .carousel-container {
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    border-radius: 12px;
  }

  .carousel-image {
    object-fit: cover;
    height: 100vh;
  }

  .header-title {
    font-size: 70px;
    font-weight:600
  }

  .home-btn-1{
    max-width: 150px;
    
  }

  .home-btn-2{
    max-width: 150px;
    margin-left: 20px;
  }
 
  .nav-logo {
    border-radius: 50%;
  }

  .description {
    color: white;
    font-weight: 800;
  }

  #toTopBtn {
   color: #DDE6ED;
   position: fixed;
   bottom: 26px;
   right: 39px;
   z-index: 98;
   padding: 21px;
   background-color: hsla(5,76%,62%,.8);
   
}


  /* ABOUT US */
  
  .about-us-header {
    text-align: center;
    margin: 100px 0px 40px 0px;
    font-weight: bold;
    font-size: 50px;
  }

  .about-us-description {
    text-align: center;
    max-width: 600px;
  }
  .about-us-background{
    background-color: #DDE6ED;
  }

  .about-us-image{
    object-fit: cover;
    max-width: 500px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    border-radius: 12px;
  }

  @media screen and (max-width: 425px) {
  .about-us-image{
    max-width: 300px !important;
    }
  .content-padding{
    padding: 0px 30px !important;
  }

  }
  @media screen and (max-width: 768px) {
    .about-us-image{
      max-width: 400px;
    }
    .content-padding{
      padding: 0px 20px;
    }

  }
  .content-center {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .content-padding{
    padding: 0px 90px;
  }


  /* CONTACT US */

  .contact-us-container{
    background-color: #393E46;
    color: white;
  }

  .form-contact-us-container{
   padding: 80px;
    
  }

  .details-container{
    padding: 80px;
  }

  .contact-form-container {
    max-width: 700px;
    padding: 50px;
   
  }

  .details-container-box{
    background-color: white;
    color: #393E46;
    border-radius: 12px;
    max-height: 500px;
    padding: 100px 50px;
    margin-top: 50px;
    max-width: 700px;
  }

  @media screen and (max-width: 425px) {
    .details-container-box{
      padding: 30px 10px;
      max-width: 320px;
    }
    .contact-form-container{
      padding: 0px;
    }
    .contact-header{
      font-size: 25px !important;
      font-weight: 700;
    }
    .contact-paragraph{
      font-size: 20px !important;
      text-align: center;
    }

    .contact-detail-header {
      font-size: 15px;
    }

    .contact-details{
      font-size: 12px;
    }
  }
  .contact-logo{
    width: 30px;
  }

  .contact-header {
    font-weight: bold;
    font-size: 45px;
    text-align: center;
  }

  .contact-paragraph {
    font-weight: lighter;
    font-size:30px;
    margin-bottom: 50px;
  }



  /* SITEMAP*/

  .sitemap-container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  .sitemap-header {
    font-size: 35px;
    font-weight: 500;
  }

  .sitemap-list{
    list-style: none;
    padding: 0px;
    margin: 20px 0px;
    text-align: center;
  }

  @media screen and (max-width: 425px) {
    .sitemap-header {
      font-size: 25px;
    }
    .sitemap-list{
      font-size: 12px;
    }
  }

  .sitemap-about-us-page-background {
    background-color: #9DB2BF;
  }

  /* VENUES */
  .venue-header{
    font-size: 45px;
    font-weight:700;
    padding: 50px 0px 0px 40px;
  }
  @media screen and (max-width: 425px) {
    .venue-header {
      text-align: center;
      padding: 50px 0px 0px;
      font-size: 35px;
    }
  }
  .card-container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 50px 0px;
  }

  .venue-container {
    margin: 20px;
  }

  .card-style{
    border-radius: 12px;
  }

  /* VENUE SCHEDULE */


  .schedule-card {
    margin: auto;
    margin-bottom: 20px;
    max-width: 60%;
  }

  .schedule-header{
    font-size: 45px;
    font-weight:600;
    padding: 50px 0px 50px 50px;
  }
  @media screen and (max-width: 520px) {
    .schedule-header {
      text-align: center;
      padding: 50px 0px 30px;
      font-size: 35px;
    }
  }

  /* RESERVATIONS */

  .reservation-form-container{
    max-width: 50%;
    margin: auto;
  }

  @media screen and (max-width: 520px) {
    .reservation-form-container{
      max-width: 70%;
    }
  }

  .sitemap-reservations-page-background {
    background-color: #9DB2BF;
  }

    /* UPCOMING EVENTS */

.upcoming-events-logo {
  max-width: 50px;
  margin-right: 20px;
}

.upcoming-events-header-container {
  max-width: 50%;
}
@media screen and (max-width: 786px) {
  .upcoming-events-header-container{
    max-width: 80%;
  }
}


/* VENUE LIST (ADD/REMOVE VENUES) */

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 60%;
}
@media screen and (max-width: 425px) {
  .table{
    width: 100%;
  }
}


td, th {
  text-align: center;
  padding: 8px;
}

.venue-list-logo {
  max-width: 40px;
  margin-right: 20px;
}

.venue-list-container{
  /* height: 100vh; */
  align-items: center;
}

